@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face {
    font-family: 'ds-digitalnormal';
    src: url('ds-digi-webfont.woff2') format('woff2'),
    url('ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* TODO footer not pass into calc */
/* TODO make buttons 3d ish */
/* TODO add lines to solar panel */
/* TODO change background? */
/* TODO make two screens constant positon */

body {
    background-color: pink;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#calculator-shadow {
    width: 320px;
    height: 510px;
    border-color: black;
    border-style: solid;
    background-color: #5c6969;
    border-radius: 10px;
}

#calculator {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: black;
}

#top {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

#brand {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    margin-top: 5px;
}

#solar {
    height: 40px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

#screen-border {
    width: 260px;
    height: 110px;
    background-color: lightslategray;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    width: 230px;
    height: 90px;
    background-color: greenyellow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    text-align: right;
    word-break: break-all;
    word-wrap: break-word;
    padding-right: 10px;
}

#previous-operation {
    font-size: 20px;
    font-family: 'ds-digitalnormal', sans-serif;
    min-height: 20px;
}

#current-operation {
    font-size: 35px;
    font-family: 'ds-digitalnormal', sans-serif;
    min-height: 36px;
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 10px;
}

.btn {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    width: 55px;
    height: 45px;
    background-color: #a9a8a8;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #949393;
}

.btn:active {
    background-color: #818080;
}

.btn-red {
    background-color: rgba(255, 0, 144, 0.65);
}

.btn-red:hover {
    background-color: rgba(190, 2, 107, 0.65);
}

.btn-red:active {
    background-color: rgba(119, 1, 67, 0.65);
}


.btn-blue {
    background-color: #71e0f3;
}

.btn-blue:hover {
    background-color: #61c3d3;
}

.btn-blue:active {
    background-color: #4b95a4;
}

.btn-dark-grey {
    background-color: dimgrey;
}

.btn-dark-grey:hover {
    background-color: #4f4f4f;
}

.btn-dark-grey:active {
    background-color: #3d3d3d;
}

.span-horizontal {
    width: 120px;
    grid-column: span 2;
}

.span-vertical {
    grid-row: span 2;
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;

}